.cover {
  box-sizing: border-box;
  margin: 93px 0 0 0;
  padding: 0 48px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    margin-top: 78px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px 0 0 0;
  }
}